---
import Base from '../components/base.astro'

const posts = await Astro.glob('./*.md')
const byNewestFirst = (a: any, b: any) => {
	return b.created - a.created
}
---

<Base>
	<ol>
	{
		posts.sort(byNewestFirst).map(post => 
			<li>
				<a href={post.url}>{post.frontmatter.title}</a>
			</li>
		)
	}
	</ol>
</Base>